/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

p{
    font-size: 16px;
    line-height: 25px;
}


img{
    width: 100%;
}

section{
    padding: 100px 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* ------all color palet code */

:root {
    --navlinks-color: #3F5787;
    --btn-color: #E98970;
  }
/* ------scrollbar-------- */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #f0aa98 , #f8b6a6);
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf;
}


::-webkit-scrollbar {
    width: 12px;
}

/* ------------Header------------- */

header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: linear-gradient(to top, #F2F4F7, #fff);


}

.logo{
    font-size: 25px;
    color: var(--navlinks-color);
}

.navbar{
    width:80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.nav_links{
    display: flex;
}

.nav_links li a{
    display: inline-block;
    margin: 0 10px;
    color: var(--navlinks-color);
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;

}

.nav_links li a::after{
    content: "";
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--btn-color);
    position: absolute;
    opacity: 0;
    transition: .3s;

}

.nav_links li a:hover::after{
    opacity: 1;
    width: 100%;

}



 .custom_btn{
    background-color: var(--btn-color);
    padding: 12px 22px;
    font-size: 15px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.custom_btn:hover{
    background: #2D487C;
}


/* --------------hero section start------------------ */

#hero{
    background: url(../img/home-page/hero-section.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 80px 0px;
    position: relative
}

.inner_hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.child_hero{
    flex-basis: 45%;
}

.child_hero p{
    margin: 10px 0px;
    line-height: 25px;
    color: gray;
}

.child_hero h1{
    font-size: 48px;
    color: var(--navlinks-color);
    font-weight: 800;
}



/* features section */

.features{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 75%;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
}


.child_feature{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
    background: #fff;
    flex-basis: 32%;
    border-radius: 5px;
    box-shadow: 0px 2px 8px lightgrey;
    transition: .3s;

}

.child_feature:hover{
    box-shadow: 0px 8px 8px lightgrey;

}

.feature_icon{
    flex-basis: 40%;
}

.feature_icon i{
    font-size: 30px;
    color: var(--navlinks-color);

}
.features_text p{
    font-size: 18px;
}


.features_text h3{
    margin-bottom: 5px;
}


/* -----------------seciton title-------------------- */


.section_title{
    text-align: center;
    margin-bottom: 40px;
}

.section_title h1{
    font-size: 35px;
    position: relative;
    padding-bottom: 20px;
    color: var(--navlinks-color);
}

.section_title h1::after{
    content: "";
    position: absolute;
    width: 5%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 3px;
    background: var(--navlinks-color);
}

.section_title p{
    width: 40%;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: 300;
    color: gray;
}


/*----------------service section-------------- */


.inner_service{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.service_item{
    flex-basis: 31%;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-top: 5px solid var(--navlinks-color);
    padding: 30px 15px;
    margin-bottom: 30px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 8px lightgrey;
    transition: .3s;

}

.service_item:hover{
    box-shadow: 0px 8px 8px lightgrey;
}

.service_item:hover .service_details{
    opacity: 1;
    transition-delay: .50s;

}

.service_details{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    background: #F9F9F9;
    left: 0;
    top: 0;
    opacity: 0;
    border:none;
    transition: .6s;
}

.service_details p{
    line-height: 25px;
    margin-bottom: 10px;
}


.service_item .service_icon{
    flex-basis: 30%;
    font-size: 30px;
    color: var(--navlinks-color);
}

.service_text p{
    margin: 20px 0px;
    line-height: 25px;

}

.service_text a{
    color: var(--navlinks-color);
    font-weight: 600;
}


/* ------------about us section start----------- */

#about{
    background: url(../img/home-page/about-and-benifit-section.png);
    background-repeat: no-repeat;
    background-position: right;
}

.inner_about_us{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.child_about_left{
    flex-basis: 40%;
}

.child_about_right{
    flex-basis: 40%;
}


.child_about_right h2{
    font-size: 30px;
    color: var(--navlinks-color);
}

.child_about_right p{
    font-size: 18px;
    margin: 10px 0px;
    color: gray;
}

/* ------------why choose us--------- */

.why_choose_us{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
}

.choose_us_left{
    flex-basis: 30%;
}

.why_choose_us .section_title{
    text-align: left;
}

.why_choose_us .section_title h1::after{
    left: 0;
    transform: translateX(0);
    width: 20%;
}


.why_choose_us .section_title p{
    width: 100%;
    color: gray
}

.qualities li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.qualities li .qual_icon{
    background: #FFC738;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 25px;
}

.qualities li span{
    font-weight: 600;
    color: var(--navlinks-color);
    font-size: 18px;
}

.choose_us_right{
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child_choose_us_right{
    flex-basis: 48%;
    background: #F9F9F9;
    padding: 80px 20px 40px 20px;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: 1px 1px 12px lightgray;
    border-radius: 2px;
    transition: .3s;
}


.child_choose_us_right:hover{
    box-shadow: 1px 8px 12px lightgray;
    transform: scale(1.0);

}

.child_choose_us_right:nth-child(2){
    background: #fff;
    border: 1px solid rgba(211, 211, 211, 0.301);

}

.child_choose_us_right:nth-child(3){
    background: #fff;
    border: 1px solid rgba(211, 211, 211, 0.301);

}

.child_choose_us_right h3{
    margin-bottom: 10px;
}


/* --------testimonial section--------- */

#testimonial{
    background: #E98970;
}

#testimonial .section_title h1{
    color: #fff;
}

#testimonial .section_title p{
    color: #fff;
}

.inner_testi{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.child_testi{
    flex-basis: 48%;
    padding: 40px 30px;
    background: #fff;
    border-radius: 3px;
    border-top: 5px solid var(--navlinks-color);
    box-shadow:  3px 2px 11px #5d5b5ba3;
    transition: .3s;
}

.child_testi:hover{
    box-shadow:  3px 8px 11px #5d5b5ba3;
    transform: scale(1.005);

}

.rating{
    color: gold;
    font-size: 22px;
    margin-bottom: 10px;
}

.child_testi p{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    color: gray;
}

.user_info{
    display: flex;
    justify-content: start;
    align-items: center;
}

.user_info .user_img{
    font-size: 40px;
    margin-right: 20px;
    color: var(--navlinks-color);
}
.user_info .user_details h4 a{
    color: var(--navlinks-color);
}

.user_info .user_details p{
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}

/* brands logo section start */

.brands_logo{
    background: #F7F7F7;
    padding: 70px 0px;
}

.inner_brands_logo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brands_child{
    flex-basis: 24%;
    display: flex;
    align-items: center;
    color: #7A7A7A;

}

.brands_child span{
    font-size: 40px;
    margin-right: 15px;
}


/* --------talk us seciton start------------ */
#talk_us{
    background: #fff;
}

.inner_talk_us{
    width: 80%;
    margin: 0 auto;
    background: #2D487C;
    color: #ffff;
    padding: 80px;
}

.inner_talk_us h1, .inner_talk_us p{
    width: 45%;
} 

.inner_talk_us h1{
    font-size: 40px;
    font-weight: 500;
}

.inner_talk_us p{
    margin: 20px 0px;
    color: lightgray;
}

.inner_talk_us .custom_btn{
    border: 1px solid #E98970;
}

.inner_talk_us .custom_btn:hover{
    border: 1px solid #E98970;
}



/* foooter section */

footer{
    background: #F7F7F7;
    padding: 100px 0px 0px 0px;
}

.inner_footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 40px;
}

.footer_first_child{
    flex-basis: 30%;

}

.footer_first_child  p{
    color: #818181;
}

.footer_first_child h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--navlinks-color);
}

.child_footer{
    flex-basis: 22%;
}

.child_footer h3{
    margin-bottom: 20px;
    font-weight: 500;
}

.footer_links li a{
    display: inline-block;
    margin-bottom: 10px;
    color: #818181;
}

.footer_contact li{
    display: flex;
    margin-bottom: 10px;
}

.footer_contact li .footer_icon{
    color: var(--navlinks-color);
    margin-right: 8px;

}

.footer_contact li span{
    color:#818181;
}

.child_footer .custom_btn{
    font-size: 14px;
    padding: 10px 15px;
}

.copyright{
    width: 80%;
    margin: 0 auto;
}

.copyright hr{
    background: var(--navlinks-color);
}

.copyright p{
    padding: 20px 0px;
    color: #B2B2B2;
}

.copyright p a{
    color: var(--navlinks-color);
}

/* -------service page--------- */

#service_home{
    background: var(--navlinks-color);
    padding-top: 150px;
}

.inner_service_home{
    margin: 0 auto;
    width: 80%;
}

.inner_service_home h1{
    font-size: 45px;
    color: #fff;
}

.service_choose_us_left{
    flex-basis: 52%;
}